.user-info li{
    border-bottom: 1px solid #B8B8B8;
}

.user-info p{
    font-weight: 500;
}

.user-info svg{
    margin-left: .5rem;
}

.call-user-btn{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.call-user-btn span{
    flex: 2;
}

.show-btn {
    color: #fff!important;
    background-color: #9191C2!important;
    border-color: #9191C2!important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show-btn:hover {
    color: #9191C2!important;
    background-color: #fff!important;
}

.show-btn:hover svg{
    background-color: #9191C2;
}

.rate-box svg{
    font-size: 2rem;
}


.content{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

.real-state-search{
    background-color: #F2F2F2;
}

.titleRealstaite{
    margin-top: 0 !important;
}
